<!DOCTYPE html>
<html>
<head>
	<title>EDIT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="/blogs/<%= blog.blogType %>/<%= blog._id %>?_method=PUT" method="POST">
<div class="container text-center mt-3"><h2><b>EDIT BLOG</b></h2></div>
<div class="container" id="special" style="margin-top:2%;margin-left:25%;width:50%">
 <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="<%= blog.title %>" name="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">Image</label>
    <input type="text" class="form-control" id="exampleFormControlInput2" value="<%= blog.image %>" name="image" placeholder="Image">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput3">Blog Type</label>
    <input type="text" class="form-control" id="exampleFormControlInput3" value="<%= blog.blogType %>" name="blogType" placeholder="Type">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" value="<%= blog.body %>" name="body" rows="4"></textarea>
  </div>
  <button class="btn btn-success mr-3">Submit</button>
  <a href="/blogs/<%= blog.blogType %>/<%= blog._id %>" class="btn btn-primary">Go Back</a>
</form>
</div>
</body>
</html>