
<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
       li:hover{
         font-weight:bolder;
       }
    </style>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#"><strong>BLOG SITE</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs" style="color:black;">BLOGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs/new" style="color:black;">New Post</a>
      </li>
      <% if(currentUser){ %>
      <li class="nav-item" class="special">
        <a class="nav-link" href="#" style="color:black;">Signed In As <%= currentUser.username %></a>
      </li>
      <li class="nav-item" class="special">
        <a class="nav-link" href="/blogs/register/logout" style="color:black;">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
<div class="container">
    <% if(error && error.length>0){ %>
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= error %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
	<% } %>
	<% if(success && success.length>0){ %>
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= success %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
	<% } %>
</div>
<h3 class=" text-center my-2 lead display-5 shadow py-2"><b>Hope you enjoy our blogs:)</b>
</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-4 d-flex flex-wrap justify-content-around">
  <% blog.forEach(function(blog){ %>
      <div class="card mt-3" style="width: 18rem">
      <img src="<%= blog.image %>" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title"><%= blog.title %></h5>
      <p class="card-text"><%= blog.body.substring(0,70) %>...</p>
      <a href="/blogs/<%= blog.blogType %>/<%= blog._id %>" class="btn btn-outline-primary">Read More</a>
      <p class="lead mt-2 mb-0" style="font-size:12px;float:right"><b>Submitted by - <%= blog.person %></b></p>
      </div>
      </div>
  <% }) %>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src="C:\Users\CASH\Documents\htmlcssprojects\bootstrap-4.3.1-dist\js\bootstrap.js" type="text/javaScript"></script>
</body>
</html>